{{ define "main" }}
    <main class="section">
        {{ partial "header.html" . }}
        <div class="h-feed section">
        <h1 class="title is-2">Posts</h1>
        {{ $paginator := .Paginate .Pages }}
        {{ range $paginator.Pages }}
            <article class="h-entry">
            <header>
              <h2 class="p-name title is-3"><a rel="bookmark" class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h1>
              <p class="subtitle is-5">
              Published <time class="dt-published">{{ .Date.Local | time.Format "2006-01-02T15:04:05Z07:00" }}</time> by <a href="{{ .Site.BaseURL }}" class="p-author h-card">{{ .Params.author | default .Site.Author.name }}</a> 
              {{- partial "tags.html" . }}
              </p>
              </header>
                <div class="p-summary content mb-4">
                    {{ .Summary }}
                </div>
            </article>    
        {{ end }}
        {{ $context := . }}
        {{ partial "pagination.html" (dict "page" $context "format" "terse")}}
        </div>
    </main>
{{ end }}
{{ define "footer" }}
    {{ partial "footer.html" . }}
{{ end }}
