{{ define "main" }}
    <main class="section">
        {{ partial "header.html" . }}
        <article class="h-entry section"> 
            <header>
              <h1 class="p-name title is-3"><a rel="bookmark" class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h1>
              <div class="subtitle is-6 pt-2 pb-2">
                  <div class="p-author h-card">
                    {{ $headshot := resources.Get "images/avatar.jpg" }}
                    <figure class="image is-48x48 is-pulled-left mr-3">
                        <img class="u-photo is-rounded" src="{{ $headshot.RelPermalink }}" alt="Matt Stine Headshot" />
                    </figure>
                    <div class="pt-1"><span class="has-text-weight-semibold">By:</span> <a href="{{ .Site.BaseURL }}">{{ .Params.author | default .Site.Author.name }}</a></div>
                  </div>
                  <div>
                      <span class="has-text-weight-semibold">Published:</span> <time class="dt-published">{{ .Date.Local | time.Format "2006-01-02T15:04:05Z07:00" }}</time> 
                  </div>
              </div>
              {{- partial "tags.html" . }}
            </header>
            {{- if in .Params.tags "trigger" }}
            {{- partial "banner.html" (.Site.GetPage "/trigger") }}
            {{- end }}
            {{- if lt .Date.UTC (time "2012-01-01") }}
            {{- partial "banner.html" (.Site.GetPage "/ancient") }}
            {{- end }}
            <div class="e-content content mt-4">
                {{ .Content }}
            </div>
            <div id="webmentions"></div> 
        </article>
    </main>
{{ end }}
{{ define "footer" }}
    {{ partial "footer.html" . }}
    {{ $webmentionJs := resources.Get "js/webmention.min.js" | resources.Minify }}
    <script src="{{ $webmentionJs.RelPermalink }}"></script>
{{ end }}
