{{ define "main" }}
    <main class="section">
        {{ partial "header.html" . }}
        <div class="h-feed section">
        <h1 class="title is-2">Interactions</h1>
        {{ $paginator := .Paginate .Pages }}
        {{ range $paginator.Pages }}
            <article class="h-entry">
            <header>
              <p class="subtitle is-5">
              <span class="has-text-weight-semibold">Published:</span> <a rel="bookmark" class="u-url" href="{{ .Permalink }}"><time class="dt-published">{{ .Date.Local | time.Format "2006-01-02T15:04:05Z07:00" }}</time></a><br/>
              <span class="has-text-weight-semibold">By:</span> <a href="{{ .Site.BaseURL }}" class="p-author h-card">{{ .Params.author | default .Site.Author.name }}</a><br/>
              <span class="has-text-weight-semibold">In Reply To:</span> <a href="{{ .Params.link }}" class="u-in-reply-to">{{ .Params.link_name }}</a><br/>
              {{- partial "tags.html" . }}
              </p>
              </header>
                <div class="p-summary content mb-4">
                    {{ .Summary }}
                </div>
            </article>    
        {{ end }}
        {{ $context := . }}
        {{ partial "pagination.html" (dict "page" $context "format" "terse")}}
        </div>
    </main>
{{ end }}
{{ define "footer" }}
    {{ partial "footer.html" . }}
{{ end }}
