{{ define "main" }}
    <main class="section">
        {{ partial "header.html" . }}
        <article class="h-entry section"> 
            <header>
              <div class="subtitle is-6 pt-2 pb-2">
                  <div class="u-author h-card">
                    {{ $headshot := resources.Get "images/avatar.jpg" }}
                    <figure class="image is-48x48 is-pulled-left mr-3">
                        <img class="u-photo is-rounded" src="{{ $headshot.RelPermalink }}" alt="Matt Stine Headshot" />
                    </figure>
                    <div class="pt-1"><span class="has-text-weight-semibold">By:</span> <a class="u-url p-name" href="{{ .Site.BaseURL }}">{{ .Params.author | default .Site.Author.name }}</a></div>
                  </div>
                  <div>
                      <span class="has-text-weight-semibold">Published:</span>
                      <a rel="bookmark" class="u-url" href="{{ .Permalink }}">
                          <time class="dt-published">{{ .Date.Local | time.Format "2006-01-02T15:04:05Z07:00" }}</time>
                      </a>
                  </div>
                  <div>
                      <span class="has-text-weight-semibold">In Reply To:</span> <a class="u-in-reply-to" href="{{ .Params.link }}">{{ .Params.link_name }}</a>
                  </div> 
              </div>
            </header>
            <div class="e-content content mt-4">
                {{ .Content }}
            </div>
        </article>
    </main>
{{ end }}
{{ define "footer" }}
    {{ partial "footer.html" . }}
{{ end }}
