<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {{ $webmentionCss := resources.Get "css/webmention.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $webmentionCss.RelPermalink }}">
    <link rel="webmention" href="https://webmention.io/mattstine.com/webmention" />
    <link rel="pingback" href="https://webmention.io/mattstine.com/xmlrpc" />
    {{ with .Site.GetPage "section" "post" }}                
    <link rel="feed" href="{{ .Permalink }}" />
    {{ end }}
    <script src="https://kit.fontawesome.com/a127579730.js" crossorigin="anonymous"></script>
  </head>
  <body class="has-background-link-light">
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
    {{ end }}
    {{ $burgerJs := resources.Get "js/burger.js" | resources.Minify }}
    <script src="{{ $burgerJs.RelPermalink }}"></script>
  </body>
</html>
