{{- define "main" }}
    <main class="section">
        {{- partial "header.html" . }}
        <div class="section">
            <h1 class="title is-2">Categories</h1>
            {{- $rows := 20 }}
            {{- $cols := div (len .Data.Terms) $rows }}
            {{- if gt (mod (len .Data.Terms) $rows) 0 }}
                {{- $cols = add $cols 1 }}
            {{- end }}
            {{- $terms := .Data.Terms.Alphabetical }}
            <div class="columns">
                {{- $offset := 0 }}
                {{- range (seq 1 $cols) }}
                <div class="column">            
                    <ul>
                        {{- range first $rows (after $offset $terms) }}
                            <li>
                                <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
                            </li>
                        {{- end }}
                    </ul>
                </div>
                {{- $offset = add $offset $rows }}
                {{- end }}
            </div>
        </div>
    </main>
{{- end }}
{{- define "footer" }}
    {{- partial "footer.html" . }}
{{- end }}
