<footer class="h-card footer media has-background-link"> 
    {{ $headshot := resources.Get "images/avatar.jpg" }}
    <figure class="image is-128x128 media-left">
        <img class="u-photo is-rounded" src="{{ $headshot.RelPermalink }}" alt="Matt Stine Headshot" /> 
    </figure>
    <div class="media-content">
      <a href={{ .Site.BaseURL }} class="p-name u-url button is-ghost has-text-link-light is-size-4" rel="me">{{ .Site.Author.name }}</a>
      <p class="p-note block has-text-link-light ml-5">{{ .Site.Author.bio }}</p>
      <ul class="ml-3">
          {{ range $.Site.Data.social.profiles }}
          <li><a class="{{ .hcardProps }} button is-ghost has-text-link-light small" rel="me" href="{{ .href }}">
                  <span class="icon is-small"><i class="{{ .iconClasses }}"></i></span>
                  <span>{{ .title }}</span></a></li>
          {{ end }}
      </ul>
    </div>
</footer> 
