<header>
    <nav class="navbar has-background-link">
        <div class="navbar-brand">
            <a class="navbar-item" rel="me" href="{{ .Site.BaseURL }}">
                <h1 class="title has-text-light is-1">{{ .Site.Title }}</h1>
            </a>

            <a class="navbar-burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <div class="navbar-item">
                    {{ with .Site.GetPage "section" "post" }}
                    <a class="button is-small is-inverted is-link is-light" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ end }}
                </div>
                <div class="navbar-item">
                    {{ with .Site.GetPage "taxonomy" "categories" }}
                    <a class="button is-small is-inverted is-link is-light" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ end }}
                </div>
                <div class="navbar-item">
                    {{ with .Site.GetPage "section" "interaction" }}
                    <a class="button is-small is-inverted is-link is-light" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ end }}
                </div>
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </nav>
</header>
