<div class="tags">
  {{- range (.GetTerms "categories") }}
  <div class="tag is-info">
      <a class="p-category has-text-white" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
  </div>
  {{- end }}
</div>
