{{ define "main" }}
    <main class="section">
      {{ partial "header.html" . }}
      <div class="section">
          <header>
              <h1 class="title is-3">{{ .Title }}</h1>
          </header>
          <div class="content mt-4">
            {{ .Content }}
          </div>
      </div>
    </main>
{{ end }}
{{ define "footer" }}
    {{ partial "footer.html" . }}
{{ end }}
